name: Generate Animations

on:
  schedule:
    - cron: "0 */24 * * *" 
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      # Genera la Serpiente
      - name: generate-snake-svg
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Genera el Pac-Man
      - name: generate-pacman-svg
        uses: jonasmerlin/pacman-contribution-graph-action@master
        with:
          github_user_name: ${{ github.repository_owner }}
          # El archivo debe llamarse exactamente como en tu README
          output_svg: dist/pacman-contribution-graph.svg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Sube ambos archivos a la rama 'output'
      - name: push outputs
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
